/*root styles*/

:root {
  --gryffindor: linear-gradient(to right, #740001, #ae0001, #eeba30, #d3a625, #000000);
  --hufflepuff: linear-gradient(to right, #eec540, #d2ad33, #927a2c, #58460e, #000000);
  --ravenclaw: linear-gradient(to right, #221300, #5e3f17, #9ba2ff, #5158b8, #0b0f42);
  --slytherin: linear-gradient(to right, #002f01, #006302, #009403, #b0b0b0, #e3e3e3);
  --ministry: linear-gradient(to right, #3c70d0, #3f699a, #6c5555);
  --houseelf: linear-gradient(to right, #adeddb, #53e7c3, #085945);
  --muggle: linear-gradient(to right, #b0b0b0, #e3e3e3);
  --unknown: linear-gradient(to right, #dda130, #07fbf2);
  --ghost: linear-gradient(to right, beige, coral, chocolate, brown, maroon);
  --teachers: linear-gradient(to right, #822880, #ea07e5, #e83f22);
  --death-eater: linear-gradient(to right, #5f705f, #e83f22);
  --centaur: linear-gradient(to right, #a384dc, #dc9cde, #6ba6bd);
  --beauxbatons: linear-gradient(to right, #00c7ff, #069ec9, #0c89ac, #7e018a);
  --durmstrang: linear-gradient(to right, maroon, #be3232);
  --house: linear-gradient(to right, #828181, #a7a4a4, #1d1919);
  --order: linear-gradient(to right, #f25656, #e3e32e, #ed9f0f);
  --creatures: linear-gradient(to right, pink, pink, brown, maroon, maroon);
  --color-elements-background: white;
  --color-elements-text: black;
}

/*light and dark mode styles*/

html[data-theme='dark'] {
  --color-elements-background: #182940;
  --color-elements-text: white;
}

html[data-theme='light'] {
  --color-elements-background: white;
  --color-elements-text: black;
}

/*main styles*/

* {
  box-sizing: border-box;
}

body {
  background: var(--color-elements-background);
}

h1 {
  font: 30px "Pacifico", cursive;
  font-weight: bold;
  color: var(--color-elements-text);
  text-align: left;
  padding: 0 75px;
}

a {
  text-decoration: none;
}

/*navigation bar styles*/

#navbar-container {
  display: grid;
  grid-column: 4;
  grid-template-columns: 1fr auto auto auto;
  background: #a4a4f9;
  position: sticky;
  top: 0;
  z-index: 10;
  margin-bottom: 10px;
}

#solutions,
#theme,
#about {
  padding: 0 15px;
  font-size: 25px;
  color: var(--color-elements-text);
  cursor: pointer;
}

/*input container styles*/

#data-container {
  position: sticky;
  top: 80px !important;
  margin-bottom: 20px !important;
  z-index: 10;
  padding: 0 10px;
  font-family: "Pacifico", cursive;
}

#input-container {
  display: grid;
  grid-column: 2;
  grid-template-columns: 200px auto;
  justify-content: center;
  background-color: beige;
  height: 50px;
}

#input-container>label {
  display: block;
  position: relative;
  cursor: pointer;
}

.input-field {
  position: relative;
  height: 44px;
  line-height: 44px;
}

#userInput {
  width: 100%;
  padding: 7px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: black;
  font-family: "Pacifico", cursive;
}

.line-box {
  position: relative;
  width: 100%;
  height: 3px;
  background: transparent;
}

.line {
  position: absolute;
  width: 0%;
  height: 2px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: #9C89B8;
  transition: ease .6s;
}

input:focus+.line-box .line {
  width: 100%;
}

.label-txt {
  top: -1.6em;
  padding: 10px;
  position: absolute;
  font-family: "Pacifico", cursive;
  font-size: .8em;
  letter-spacing: 1px;
  color: #8366ae;
  transition: ease .3s;
}

.label-active {
  top: -3em;
}

#answer {
  background-color: var(--color-elements-background);
  border: solid 2px #8366ae;
  color: #8366ae;
  width: 105px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 5px;
  font-family: "Pacifico", cursive;
}

#answer:hover {
  background: pink;
}

#answer:active {
  transform: scale(1.1);
}

.disabled {
  pointer-events: none;
}

/*periodic table styles*/

.periodic-table {
  display: grid;
  grid-template-columns: repeat(18, 60px);
  grid-template-rows: repeat(9, 60px);
  grid-gap: 10px;
  margin: auto;
  justify-content: center;
}

.module-element {
  padding: 4px;
  position: relative;
  cursor: default;
  text-align: center;
}

.module-element .module-element-content {
  background: var(--color-elements-background);
  padding: 0px;
  color: var(--color-elements-text);
}

.module-element .title {
  font: 25px "Pacifico", cursive;
  transition: 0.8s ease 600ms;
}

.module-element .description {
  font: 10px "Pacifico", cursive;
  margin-top: -10px;
}

a.module-element {
  cursor: pointer;
}

.module-border-wrap {
  padding: 0px;
}

.description>label {
  text-transform: capitalize;
}

/*blank gutter styles*/

.blank-gutter-row-1 {
  grid-column: 2 / span 16;
  grid-row: 1;
}

.blank-gutter-row-2 {
  grid-column: 3 / span 10;
  grid-row: 2;
}

.blank-gutter-row-3 {
  grid-column: 3 / span 10;
  grid-row: 3;
}

.blank-gutter-row-6 {
  grid-column: 3 / span 1;
  grid-row: 6;
}

.blank-gutter-row-7-a {
  grid-column: 3 / span 1;
  grid-row: 7;
}

.blank-gutter-row-7-b {
  grid-column: 12 / span 7;
  grid-row: 7;
}

.blank-gutter-row-8 {
  grid-column: 1 / span 3;
  grid-row: 8;
}

.blank-gutter-row-9 {
  grid-column: 1 / span 3;
  grid-row: 9;
}

/*element border color styles*/

.gryffindor {
  background: var(--gryffindor);
}

.slytherin {
  background: var(--slytherin);
}

.hufflepuff {
  background: var(--hufflepuff);
}

.ravenclaw {
  background: var(--ravenclaw);
}

.ministry {
  background: var(--ministry);
}

.houseelf {
  background: var(--houseelf);
}

.muggle {
  background: var(--muggle);
}

.unknown {
  background: var(--unknown);
}

.teachers {
  background: var(--teachers);
}

.death-eater {
  background: var(--death-eater);
}

.centaur {
  background: var(--centaur);
}

.ghost {
  background: var(--ghost);
}

.beauxbatons {
  background: var(--beauxbatons);
}

.durmstrang {
  background: var(--durmstrang);
}

.house {
  background: var(--house);
}

.order {
  background: var(--order);
}

.creatures {
  background: var(--creatures);
}

/*element fill color styles*/

.gryffindor-colors {
  background: #ae0001 !important;
  color: #eeba30 !important;
}

.slytherin-colors {
  background: #006302 !important;
  color: #bebaba !important;
}

.ravenclaw-colors {
  background: #248EB3 !important;
  /*#33589d*/
  color: #65540C !important;
  /*#A79E78; //#8f883c; //#a69a13*/
}

.hufflepuff-colors {
  background: #c1980f !important;
  color: #55430d !important;
}

.death-eater-colors {
  background: #e28080 !important;
  color: #3a4238 !important;
}

.ministry-colors {
  background: #75a3eb !important;
  color: #6b5556 !important;
}

.unknown-colors {
  background: #f1dfb4 !important;
  color: #7b6161 !important;
}

.teachers-colors {
  background: #ca9fe4 !important;
  color: #ae3d76 !important;
}

.muggle-colors {
  background: #3a6363 !important;
  color: wheat !important;
}

.order-colors {
  background: #f5ba69 !important;
  color: #9b4607 !important;
}

.centaur-colors {
  background: #a1e0e5 !important;
  color: #416b72 !important;
}

.houseelf-colors {
  background: #acd6c8 !important;
  color: #b17d7d !important;
}

.durmstrang-colors {
  background: #a34040 !important;
  color: #520202 !important;
}

.beauxbatons-colors {
  background: #55cdee !important;
  color: #37569f !important;
}

.ghost-colors {
  background: chocolate !important;
  color: maroon !important;
}

.house-colors {
  background: #918888 !important;
  color: #503c3c !important;
}

.creatures-colors {
  background: #cf5369 !important;
  color: #931616 !important;
}

/*overlay styles*/

.overlay {
  position: fixed;
  background: #8366ae;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 50;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 28px;
  font-family: "Pacifico", cursive;
  text-align: center;
}

.overlay p {
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  margin-bottom: 5px;
}

#swish {
  font-size: 35px;
  display: block;
}

#overlay-close-button {
  cursor: pointer;
}

#overlay-close-button {
  background-color: var(--color-elements-background);
  border: solid 2px #8366ae;
  color: #8366ae;
  width: 105px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 5px;
  font-family: "Pacifico", cursive;
}

#overlay-close-button:hover {
  background: pink;
}

/*footer styles*/

footer {
  text-align: center;
  margin-top: 2em;
  width: 100%;
  position: sticky;
  bottom: 0;
  z-index: 10;
  background: #a4a4f9;
  font-family: "Pacifico", cursive;
}

#github-link {
  color: var(--color-elements-text);
}

footer a,
footer p {
  color: var(--color-elements-text);
}

/*responsive styles*/

@media screen and (max-width: 390px) {
  #data-container {
    top: 100px !important;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 19px;
    padding: 12px 4px;
  }
}

@media screen and (min-width: 551px) and (max-width: 768px) {
  h1 {
    font-size: 25px;
    padding: 0px 10px;
  }
}

@media screen and (min-width: 769px) and (max-width: 900px) {
  h1 {
    font-size: 25px;
    padding: 0px 10px;
  }
}

@media screen and (min-width: 901px) {
  h1 {
    font-size: 30px;
    padding: 0px 10px;
  }
}

@media screen and (max-width: 800px) {
  .overlay nav {
    font-size: 18px !important;
  }

  #swish {
    font-size: 25px;
  }
}

@media screen and (max-width: 1250px) {
  .periodic-table {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(60px, 60px)) !important;
    grid-template-rows: repeat(auto-fit, minmax(60px, 60px)) !important;
  }

  div.module-border-wrap {
    height: 60px !important;
  }

  div[class^="blank-gutter"] {
    display: none;
  }

  #data-container {
    margin-bottom: 20px !important;
  }
}
